#main-table {

}

#navigation{
	width:140px;
}

#main {
	height: 400px;
}

#navigation table{
	width:100%
}

#navigation input{
	width:100%
}
.fixed-height {
	width: 100%;
	height: 400px;
}
.vert-align-middle {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.table-vert-align {
	width: 100%;
	height: 100%;
	display: table;
}

#content{
	background-color:gray;
	position: absolute;
	width: 400px;
	height: 400px;
}

#blank {
	background-color:none;
	position: absolute;
	left: 0px;
	top: 0px;
}

#turn-feedback {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 2%;
}

.black-turn {
	color: white;
	background-color: black;
}

.red-turn {
	color: white;
	background-color: red;
}